@import "tailwindcss";

@font-face {
  font-family: "Grifter";
  src: url("/grifterbold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-grifter: Grifter, sans-serif;
}

body {
  font-family: "Lexend", sans-serif;
  overflow-y: scroll;
}

:root {
  --color-primary: #18222b;
  --color-secondary: #233444;
  --color-accent: #37b5fe;
}
